
<div class="p-4">
  <div class="alert alert-dark text-center display-2" role="alert">
   <b> Current Time and Date</b>
  </div>
</div>

<button (click)="getDateTime()" >Refresh Time</button>
<div >
    <div class="alert alert-info text-center " role="alert">
     <b> Day : {{day}}</b>
    </div>
  </div>
  <div class="p-1">
    <div class="alert alert-info text-center " role="alert">
     <b> Month : {{month}}</b>
    </div>
  </div>
  <div class="p-1">
    <div class="alert alert-info text-center " role="alert">
     <b> Year : {{year}}</b>
    </div>
  </div>
  <div class="p-1">
    <div class="alert alert-info text-center " role="alert">
     <b> Hour : {{hour}}</b>
    </div>
  </div>
  <div class="p-1">
    <div class="alert alert-info text-center " role="alert">
     <b> Minute : {{min}}</b>
    </div>
  </div>
  <div class="p-1">
    <div class="alert alert-info text-center " role="alert">
     <b> Seconds : {{sec}}</b>
    </div>
  </div>






